USE [RIMS_DB]
GO
ALTER TABLE [dbo].[users] DROP CONSTRAINT [CK__users__role_name__729CBA6F]
GO
ALTER TABLE [dbo].[restaurant_tables] DROP CONSTRAINT [CK__restauran__statu__6FC04DC4]
GO
ALTER TABLE [dbo].[reservations] DROP CONSTRAINT [CK__reservati__statu__6CE3E119]
GO
ALTER TABLE [dbo].[payments] DROP CONSTRAINT [CK__payments__paymen__6A07746E]
GO
ALTER TABLE [dbo].[orders] DROP CONSTRAINT [CK__orders__status__6542BF51]
GO
ALTER TABLE [dbo].[order_items] DROP CONSTRAINT [CK__order_ite__statu__626652A6]
GO
ALTER TABLE [dbo].[order_items] DROP CONSTRAINT [CK__order_ite__quant__61722E6D]
GO
ALTER TABLE [dbo].[reservations] DROP CONSTRAINT [FKlmsyoaj81pfgb83w1jhupfq0g]
GO
ALTER TABLE [dbo].[payments] DROP CONSTRAINT [FKrbqec6be74wab8iifh8g3i50i]
GO
ALTER TABLE [dbo].[payment_transaction] DROP CONSTRAINT [FKh4wu0mbrwceohv3uhyks3e2cp]
GO
ALTER TABLE [dbo].[orders] DROP CONSTRAINT [FKtjwuphstqm46uffgc7l1r27a9]
GO
ALTER TABLE [dbo].[orders] DROP CONSTRAINT [FK8nathddqyn5kpjldujiu5lhhv]
GO
ALTER TABLE [dbo].[order_items] DROP CONSTRAINT [FKn06bdypik73hotpxvefsrtn77]
GO
ALTER TABLE [dbo].[order_items] DROP CONSTRAINT [FKbioxgbv59vetrxe0ejfubep1w]
GO
ALTER TABLE [dbo].[invoices] DROP CONSTRAINT [FK4ko3y00tkkk2ya3p6wnefjj2f]
GO
ALTER TABLE [dbo].[dishes] DROP CONSTRAINT [FKgbu6erefir17660qutbbjnma7]
GO
/****** Object:  Index [UK6dotkott2kjsp8vw4d0m25fb7]    Script Date: 16-Jun-26 12:28:34 AM ******/
DROP INDEX [UK6dotkott2kjsp8vw4d0m25fb7] ON [dbo].[users]
GO
/****** Object:  Index [UKr43af9ap4edm43mmtq01oddj6]    Script Date: 16-Jun-26 12:28:34 AM ******/
ALTER TABLE [dbo].[users] DROP CONSTRAINT [UKr43af9ap4edm43mmtq01oddj6]
GO
/****** Object:  Index [UKdu5v5sr43g5bfnji4vb8hg5s3]    Script Date: 16-Jun-26 12:28:34 AM ******/
ALTER TABLE [dbo].[users] DROP CONSTRAINT [UKdu5v5sr43g5bfnji4vb8hg5s3]
GO
/****** Object:  Index [UK1t9vy8tg8eidmfw4k887ibeu1]    Script Date: 16-Jun-26 12:28:34 AM ******/
ALTER TABLE [dbo].[restaurant_tables] DROP CONSTRAINT [UK1t9vy8tg8eidmfw4k887ibeu1]
GO
/****** Object:  Index [UKe718q5klx5pempy28p2nx88a6]    Script Date: 16-Jun-26 12:28:34 AM ******/
ALTER TABLE [dbo].[invoices] DROP CONSTRAINT [UKe718q5klx5pempy28p2nx88a6]
GO
/****** Object:  Index [UKdcefyu86ti5bxbtg7j5erh048]    Script Date: 16-Jun-26 12:28:34 AM ******/
ALTER TABLE [dbo].[dishes] DROP CONSTRAINT [UKdcefyu86ti5bxbtg7j5erh048]
GO
/****** Object:  Index [UK41g4n0emuvcm3qyf1f6cn43c0]    Script Date: 16-Jun-26 12:28:34 AM ******/
ALTER TABLE [dbo].[categories] DROP CONSTRAINT [UK41g4n0emuvcm3qyf1f6cn43c0]
GO
/****** Object:  Table [dbo].[users]    Script Date: 16-Jun-26 12:28:34 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[users]') AND type in (N'U'))
DROP TABLE [dbo].[users]
GO
/****** Object:  Table [dbo].[restaurant_tables]    Script Date: 16-Jun-26 12:28:34 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[restaurant_tables]') AND type in (N'U'))
DROP TABLE [dbo].[restaurant_tables]
GO
/****** Object:  Table [dbo].[restaurant_contact]    Script Date: 16-Jun-26 12:28:34 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[restaurant_contact]') AND type in (N'U'))
DROP TABLE [dbo].[restaurant_contact]
GO
/****** Object:  Table [dbo].[restaurant_brand]    Script Date: 16-Jun-26 12:28:34 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[restaurant_brand]') AND type in (N'U'))
DROP TABLE [dbo].[restaurant_brand]
GO
/****** Object:  Table [dbo].[reservations]    Script Date: 16-Jun-26 12:28:34 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[reservations]') AND type in (N'U'))
DROP TABLE [dbo].[reservations]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 16-Jun-26 12:28:34 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[payments]') AND type in (N'U'))
DROP TABLE [dbo].[payments]
GO
/****** Object:  Table [dbo].[payment_transaction]    Script Date: 16-Jun-26 12:28:34 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[payment_transaction]') AND type in (N'U'))
DROP TABLE [dbo].[payment_transaction]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 16-Jun-26 12:28:34 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[orders]') AND type in (N'U'))
DROP TABLE [dbo].[orders]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 16-Jun-26 12:28:34 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[order_items]') AND type in (N'U'))
DROP TABLE [dbo].[order_items]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 16-Jun-26 12:28:34 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[invoices]') AND type in (N'U'))
DROP TABLE [dbo].[invoices]
GO
/****** Object:  Table [dbo].[featured_menu_items]    Script Date: 16-Jun-26 12:28:34 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[featured_menu_items]') AND type in (N'U'))
DROP TABLE [dbo].[featured_menu_items]
GO
/****** Object:  Table [dbo].[dishes]    Script Date: 16-Jun-26 12:28:34 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[dishes]') AND type in (N'U'))
DROP TABLE [dbo].[dishes]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 16-Jun-26 12:28:34 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[categories]') AND type in (N'U'))
DROP TABLE [dbo].[categories]
GO
USE [master]
GO
/****** Object:  Database [RIMS_DB]    Script Date: 16-Jun-26 12:28:34 AM ******/
DROP DATABASE [RIMS_DB]
GO
/****** Object:  Database [RIMS_DB]    Script Date: 16-Jun-26 12:28:34 AM ******/
CREATE DATABASE [RIMS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RIMS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\RIMS_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RIMS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\RIMS_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RIMS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RIMS_DB]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 16-Jun-26 12:28:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[category_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dishes]    Script Date: 16-Jun-26 12:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dishes](
	[category_id] [int] NOT NULL,
	[dish_id] [int] IDENTITY(1,1) NOT NULL,
	[is_available] [bit] NOT NULL,
	[price] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[dish_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[image_url] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[dish_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[featured_menu_items]    Script Date: 16-Jun-26 12:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[featured_menu_items](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[active] [bit] NOT NULL,
	[description] [nvarchar](500) NULL,
	[image_url] [varchar](500) NULL,
	[name] [nvarchar](100) NOT NULL,
	[price] [int] NOT NULL,
	[sort_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 16-Jun-26 12:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices](
	[final_amount] [numeric](38, 2) NOT NULL,
	[invoice_date] [datetime2](7) NOT NULL,
	[invoice_id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 16-Jun-26 12:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[dish_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[sub_total] [numeric](38, 2) NOT NULL,
	[unit_price] [numeric](38, 2) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[order_item_id] [bigint] IDENTITY(1,1) NOT NULL,
	[note] [nvarchar](2000) NULL,
	[status] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 16-Jun-26 12:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[created_by] [int] NOT NULL,
	[table_id] [int] NOT NULL,
	[total_amount] [numeric](38, 2) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[order_id] [bigint] IDENTITY(1,1) NOT NULL,
	[status] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_transaction]    Script Date: 16-Jun-26 12:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_transaction](
	[is_success] [bit] NULL,
	[payment_id] [bigint] NOT NULL,
	[transaction_date] [datetime2](7) NOT NULL,
	[transaction_id] [bigint] IDENTITY(1,1) NOT NULL,
	[gateway] [varchar](255) NULL,
	[transaction_code] [varchar](255) NOT NULL,
	[gateway_response] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 16-Jun-26 12:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[amount] [numeric](38, 2) NOT NULL,
	[is_success] [bit] NULL,
	[invoice_id] [bigint] NOT NULL,
	[payment_date] [datetime2](7) NOT NULL,
	[payment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[payment_method] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservations]    Script Date: 16-Jun-26 12:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservations](
	[table_id] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[reservation_id] [bigint] IDENTITY(1,1) NOT NULL,
	[reservation_time] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[phone] [varchar](10) NOT NULL,
	[customer_name] [nvarchar](50) NOT NULL,
	[note] [nvarchar](2000) NULL,
	[status] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[reservation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[restaurant_brand]    Script Date: 16-Jun-26 12:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurant_brand](
	[brand_id] [int] NOT NULL,
	[brand_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[hero_image_url] [varchar](500) NULL,
	[tagline] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[restaurant_contact]    Script Date: 16-Jun-26 12:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurant_contact](
	[contact_id] [int] NOT NULL,
	[address] [nvarchar](300) NOT NULL,
	[email] [varchar](100) NULL,
	[map_url] [varchar](500) NULL,
	[opening_hours] [nvarchar](200) NOT NULL,
	[phone] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[contact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[restaurant_tables]    Script Date: 16-Jun-26 12:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurant_tables](
	[capacity] [int] NULL,
	[table_id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[status] [varchar](255) NULL,
	[table_number] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[table_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 16-Jun-26 12:28:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[is_active] [bit] NULL,
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[phone] [varchar](10) NOT NULL,
	[role_name] [varchar](10) NOT NULL,
	[email] [varchar](50) NULL,
	[full_name] [nvarchar](50) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([category_id], [created_at], [updated_at], [category_name], [description]) VALUES (1, CAST(N'2026-06-16T00:24:15.6187688' AS DateTime2), CAST(N'2026-06-16T00:24:15.6187688' AS DateTime2), N'Main Course', N'Các món chính')
INSERT [dbo].[categories] ([category_id], [created_at], [updated_at], [category_name], [description]) VALUES (2, CAST(N'2026-06-16T00:24:15.6242796' AS DateTime2), CAST(N'2026-06-16T00:24:15.6242796' AS DateTime2), N'Drink', N'Đồ uống')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[dishes] ON 

INSERT [dbo].[dishes] ([category_id], [dish_id], [is_available], [price], [created_at], [updated_at], [dish_name], [description], [image_url]) VALUES (1, 1, 1, 50000, CAST(N'2026-06-16T00:24:15.6289296' AS DateTime2), CAST(N'2026-06-16T00:24:15.6289296' AS DateTime2), N'Fried Rice', N'Cơm chiên truyền thống', N'fried-rice.jpg')
INSERT [dbo].[dishes] ([category_id], [dish_id], [is_available], [price], [created_at], [updated_at], [dish_name], [description], [image_url]) VALUES (1, 2, 1, 65000, CAST(N'2026-06-16T00:24:15.6363877' AS DateTime2), CAST(N'2026-06-16T00:24:15.6363877' AS DateTime2), N'Pho Bo', N'Phở bò đặc biệt', N'pho-bo.jpg')
INSERT [dbo].[dishes] ([category_id], [dish_id], [is_available], [price], [created_at], [updated_at], [dish_name], [description], [image_url]) VALUES (1, 3, 1, 60000, CAST(N'2026-06-16T00:24:15.6383530' AS DateTime2), CAST(N'2026-06-16T00:24:15.6383530' AS DateTime2), N'Bun Cha', N'Bún chả thịt nướng', N'bun-cha.jpg')
SET IDENTITY_INSERT [dbo].[dishes] OFF
GO
SET IDENTITY_INSERT [dbo].[featured_menu_items] ON 

INSERT [dbo].[featured_menu_items] ([item_id], [active], [description], [image_url], [name], [price], [sort_order]) VALUES (1, 1, N'Nước dùng ninh 12 giờ, thịt bò tái và nạm mềm.', NULL, N'Phở Bò Đặc Biệt', 85000, 1)
INSERT [dbo].[featured_menu_items] ([item_id], [active], [description], [image_url], [name], [price], [sort_order]) VALUES (2, 1, N'Cuốn tươi mát với tôm sú và rau thơm.', NULL, N'Gỏi Cuốn Tôm Thịt', 45000, 2)
INSERT [dbo].[featured_menu_items] ([item_id], [active], [description], [image_url], [name], [price], [sort_order]) VALUES (3, 1, N'Cá lóc kho với nước mắm và tiêu, ăn kèm cơm trắng.', NULL, N'Cá Kho Tộ', 120000, 3)
SET IDENTITY_INSERT [dbo].[featured_menu_items] OFF
GO
SET IDENTITY_INSERT [dbo].[order_items] ON 

INSERT [dbo].[order_items] ([dish_id], [quantity], [sub_total], [unit_price], [created_at], [order_id], [order_item_id], [note], [status]) VALUES (1, 2, CAST(100000.00 AS Numeric(38, 2)), CAST(50000.00 AS Numeric(38, 2)), CAST(N'2026-06-16T00:24:15.7391796' AS DateTime2), 1, 1, N'Less spicy', N'PREPARING')
INSERT [dbo].[order_items] ([dish_id], [quantity], [sub_total], [unit_price], [created_at], [order_id], [order_item_id], [note], [status]) VALUES (4, 2, CAST(30000.00 AS Numeric(38, 2)), CAST(15000.00 AS Numeric(38, 2)), CAST(N'2026-06-16T00:24:15.7489854' AS DateTime2), 1, 2, NULL, N'PREPARING')
INSERT [dbo].[order_items] ([dish_id], [quantity], [sub_total], [unit_price], [created_at], [order_id], [order_item_id], [note], [status]) VALUES (5, 1, CAST(25000.00 AS Numeric(38, 2)), CAST(25000.00 AS Numeric(38, 2)), CAST(N'2026-06-16T00:24:15.7563568' AS DateTime2), 1, 3, NULL, N'COMPLETED')
SET IDENTITY_INSERT [dbo].[order_items] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([created_by], [table_id], [total_amount], [created_at], [order_id], [status]) VALUES (1, 1, CAST(140000.00 AS Numeric(38, 2)), CAST(N'2026-06-16T00:24:15.7209320' AS DateTime2), 1, N'SERVING')
INSERT [dbo].[orders] ([created_by], [table_id], [total_amount], [created_at], [order_id], [status]) VALUES (1, 2, CAST(200000.00 AS Numeric(38, 2)), CAST(N'2026-06-16T00:24:15.7305095' AS DateTime2), 2, N'SERVING')
INSERT [dbo].[orders] ([created_by], [table_id], [total_amount], [created_at], [order_id], [status]) VALUES (1, 3, CAST(180000.00 AS Numeric(38, 2)), CAST(N'2026-06-16T00:24:15.7319016' AS DateTime2), 3, N'SERVING')
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
INSERT [dbo].[restaurant_brand] ([brand_id], [brand_name], [description], [hero_image_url], [tagline]) VALUES (1, N'RIMS Garden', N'RIMS Garden là nhà hàng ẩm thực Việt đương đại, kết hợp nguyên liệu tươi ngon với công thức truyền thống. Không gian ấm cúng, phù hợp cho gia đình, tiệc nhỏ và các buổi gặp gỡ bạn bè.', NULL, N'Hương vị Việt trong không gian hiện đại')
GO
INSERT [dbo].[restaurant_contact] ([contact_id], [address], [email], [map_url], [opening_hours], [phone]) VALUES (1, N'123 Đường Nguyễn Huệ, Quận 1, TP. Hồ Chí Minh', N'contact@rimsgarden.vn', N'https://maps.google.com', N'Thứ 2 - Chủ nhật: 10:00 - 22:00', N'02838234567')
GO
SET IDENTITY_INSERT [dbo].[restaurant_tables] ON 

INSERT [dbo].[restaurant_tables] ([capacity], [table_id], [created_at], [updated_at], [status], [table_number]) VALUES (2, 1, CAST(N'2026-06-16T00:24:15.1296489' AS DateTime2), CAST(N'2026-06-16T00:24:15.1296489' AS DateTime2), N'AVAILABLE', N'T01')
INSERT [dbo].[restaurant_tables] ([capacity], [table_id], [created_at], [updated_at], [status], [table_number]) VALUES (2, 2, CAST(N'2026-06-16T00:24:15.2177309' AS DateTime2), CAST(N'2026-06-16T00:24:15.2177309' AS DateTime2), N'AVAILABLE', N'T02')
INSERT [dbo].[restaurant_tables] ([capacity], [table_id], [created_at], [updated_at], [status], [table_number]) VALUES (2, 3, CAST(N'2026-06-16T00:24:15.2197270' AS DateTime2), CAST(N'2026-06-16T00:24:15.2197270' AS DateTime2), N'AVAILABLE', N'T03')
SET IDENTITY_INSERT [dbo].[restaurant_tables] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([is_active], [user_id], [created_at], [updated_at], [phone], [role_name], [email], [full_name], [username], [password_hash]) VALUES (1, 1, CAST(N'2026-06-16T00:24:15.5448449' AS DateTime2), CAST(N'2026-06-16T00:24:15.5448449' AS DateTime2), N'0900000001', N'ADMIN', N'admin@rims.local', N'Quản trị viên', N'admin', N'$2a$10$mNXgPOWEgW0sh4aIHPYIMuRDuHTajSciFqluZfDhek6xFYkvW9WmS')
INSERT [dbo].[users] ([is_active], [user_id], [created_at], [updated_at], [phone], [role_name], [email], [full_name], [username], [password_hash]) VALUES (1, 2, CAST(N'2026-06-16T00:24:15.6058389' AS DateTime2), CAST(N'2026-06-16T00:24:15.6058389' AS DateTime2), N'0900000002', N'CHEF', N'chef@rims.local', N'Đầu bếp', N'chef', N'$2a$10$SZjjJukF0gUjvAzN6BVXvurjqgNPJt5zGsDbPPjBsscBmuczhnFsa')
INSERT [dbo].[users] ([is_active], [user_id], [created_at], [updated_at], [phone], [role_name], [email], [full_name], [username], [password_hash]) VALUES (1, 3, CAST(N'2026-06-16T00:24:15.6073438' AS DateTime2), CAST(N'2026-06-16T00:24:15.6073438' AS DateTime2), N'0900000003', N'WAITER', N'waiter@rims.local', N'Phục vụ', N'waiter', N'$2a$10$VOnrIp7t.x3GiChTSYbelOhaorSif4bf1e1vng1admkMQfuDi3rxe')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK41g4n0emuvcm3qyf1f6cn43c0]    Script Date: 16-Jun-26 12:28:35 AM ******/
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [UK41g4n0emuvcm3qyf1f6cn43c0] UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKdcefyu86ti5bxbtg7j5erh048]    Script Date: 16-Jun-26 12:28:35 AM ******/
ALTER TABLE [dbo].[dishes] ADD  CONSTRAINT [UKdcefyu86ti5bxbtg7j5erh048] UNIQUE NONCLUSTERED 
(
	[dish_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKe718q5klx5pempy28p2nx88a6]    Script Date: 16-Jun-26 12:28:35 AM ******/
ALTER TABLE [dbo].[invoices] ADD  CONSTRAINT [UKe718q5klx5pempy28p2nx88a6] UNIQUE NONCLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK1t9vy8tg8eidmfw4k887ibeu1]    Script Date: 16-Jun-26 12:28:35 AM ******/
ALTER TABLE [dbo].[restaurant_tables] ADD  CONSTRAINT [UK1t9vy8tg8eidmfw4k887ibeu1] UNIQUE NONCLUSTERED 
(
	[table_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKdu5v5sr43g5bfnji4vb8hg5s3]    Script Date: 16-Jun-26 12:28:35 AM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UKdu5v5sr43g5bfnji4vb8hg5s3] UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKr43af9ap4edm43mmtq01oddj6]    Script Date: 16-Jun-26 12:28:35 AM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UKr43af9ap4edm43mmtq01oddj6] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK6dotkott2kjsp8vw4d0m25fb7]    Script Date: 16-Jun-26 12:28:35 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK6dotkott2kjsp8vw4d0m25fb7] ON [dbo].[users]
(
	[email] ASC
)
WHERE ([email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[dishes]  WITH CHECK ADD  CONSTRAINT [FKgbu6erefir17660qutbbjnma7] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[dishes] CHECK CONSTRAINT [FKgbu6erefir17660qutbbjnma7]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [FK4ko3y00tkkk2ya3p6wnefjj2f] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [FK4ko3y00tkkk2ya3p6wnefjj2f]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FKbioxgbv59vetrxe0ejfubep1w] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FKbioxgbv59vetrxe0ejfubep1w]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FKn06bdypik73hotpxvefsrtn77] FOREIGN KEY([dish_id])
REFERENCES [dbo].[dishes] ([dish_id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FKn06bdypik73hotpxvefsrtn77]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK8nathddqyn5kpjldujiu5lhhv] FOREIGN KEY([table_id])
REFERENCES [dbo].[restaurant_tables] ([table_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK8nathddqyn5kpjldujiu5lhhv]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKtjwuphstqm46uffgc7l1r27a9] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKtjwuphstqm46uffgc7l1r27a9]
GO
ALTER TABLE [dbo].[payment_transaction]  WITH CHECK ADD  CONSTRAINT [FKh4wu0mbrwceohv3uhyks3e2cp] FOREIGN KEY([payment_id])
REFERENCES [dbo].[payments] ([payment_id])
GO
ALTER TABLE [dbo].[payment_transaction] CHECK CONSTRAINT [FKh4wu0mbrwceohv3uhyks3e2cp]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FKrbqec6be74wab8iifh8g3i50i] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([invoice_id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FKrbqec6be74wab8iifh8g3i50i]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [FKlmsyoaj81pfgb83w1jhupfq0g] FOREIGN KEY([table_id])
REFERENCES [dbo].[restaurant_tables] ([table_id])
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [FKlmsyoaj81pfgb83w1jhupfq0g]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD CHECK  (([quantity]>=(1)))
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD CHECK  (([status]='COMPLETED' OR [status]='PREPARING'))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([status]='COMPLETED' OR [status]='LOCKED' OR [status]='SERVING'))
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD CHECK  (([payment_method]='QRCODE' OR [payment_method]='CASH'))
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD CHECK  (([status]='COMPLETED' OR [status]='CANCELLED' OR [status]='SERVING' OR [status]='WAITING'))
GO
ALTER TABLE [dbo].[restaurant_tables]  WITH CHECK ADD CHECK  (([status]='SERVING' OR [status]='RESERVED' OR [status]='AVAILABLE'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role_name]='CASHIER' OR [role_name]='WAITER' OR [role_name]='CHEF' OR [role_name]='ADMIN'))
GO
USE [master]
GO
